<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neutron Map</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
  </head>
  <body role="document">
    <div class="container theme-showcase" role="main">
      <div class="well">
        <h1>Neutron Map</h1>
        <p>This application allows you to visualize various Neutron topologies. Just submit the usual Keystone credentials for a specific tenant to get started.</p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <h3>Authentication</h3>
            <form role="form">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="tenant_name" placeholder="Tenant name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="auth_url" placeholder="Keystone URL" required>
              </div>
              <input type="submit" class="btn btn-sm btn-primary" value="Submit">
            </form>
            <div class="form-group" id="hidden" style="display:none;"></div>
          </div>
          <div class="col-md-9">
            <a class="thumbnail" id="topology">
              <img data-src="holder.js/825x560">
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script>
    $(function() {
        $("form").on("submit", function(event) {
            event.preventDefault();
            $("#hidden").empty();
            var data = $(this).serialize();
            $.post("{{ url_for('topology') }}", data, update, "json")
                .fail(function(jqXHR, textStatus, errorThrown) {
                    var e = jqXHR.responseJSON;
                    $("#hidden").append($('<div/>')
                        .addClass('alert alert-danger alert-dismissable')
                        .html('<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'
                            + '<strong>Title:</strong> ' + e.title + '<br>'
                            + '<strong>Message:</strong> ' + e.message + '<br>'
                            + '<strong>Code:</strong> ' + e.code)
                    );
                    $("#hidden").show();
                });
            $("form")[0].reset();
        });
    });

    var width = 825,
        height = 560,
        root;

    var force = d3.layout.force()
        .size([width, height])
        .charge(-200)
        .friction(0.5)
        .linkDistance(50);

    var svg = d3.select("#topology").append("svg")
        .attr("width", width)
        .attr("height", height);

    function update(data) {
        d3.select("#topology > svg").remove();
        var newsvg = d3.select("#topology").append("svg")
            .attr("width", width)
            .attr("height", height);

        force
            .nodes(data.nodes)
            .links(data.links)
            .start();

        var link = newsvg.selectAll(".link")
            .data(data.links)
            .enter().append("line")
            .attr("class", "link");

        var node = newsvg.selectAll(".node")
            .data(data.nodes)
            .enter().append("circle")
            .attr("class", "node")
            .attr("r", function(d) { return Math.sqrt(nodeSize(d)) / 10 || 4.5; })
            .style("fill", nodeColor)
            .on("dblclick", dblclick)
            .call(force.drag);

        force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
        });
    }

    // Get a specific size for each network element
    function nodeSize(d) {
        var sizes = [];
        sizes["external"] = 12000;
        sizes["network"] = 12000;
        sizes["router"] = 8000;
        sizes["dhcp"] = 6000;
        sizes["vm"] = 6000;
        return sizes[d.type];
    }

    // Get a specific color for each network element
    function nodeColor(d) {
        var colors = [];
        colors["external"] = "#ffffc2";
        colors["network"] = "#d6ebff";
        colors["router"] = "#da91ff";
        colors["dhcp"] = "#ffffff";
        colors["vm"] = "#ffffff";
        return colors[d.type];
    }

    // Display node info on dblclick.
    function dblclick(d) {
        d3.selectAll(".node").classed({"highlighted": false});
        d3.select(this).classed({"highlighted": true});
        $("#hidden").empty()
            .append($('<h3>Element details</h3>'))
            .append($('<p>' + d.text + '</p>'));
        $("#hidden").show();
    }
    </script>
  </body>
</html>
