{% extends 'base.html' %}

{% block main %}
<div class="col-md-offset-4 col-md-4">
  <div class="well well-lg" style="margin-top: 60px;">
    <form class="form" style="padding: 0 20px;" method="post">
      <div class="form-group">
        <legend>Authentication</legend>
      </div>
      <div class="form-group">
        <input class="form-control" name="username" type="text" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input class="form-control" name="password" type="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <input class="form-control" name="tenant_name" type="text" placeholder="Tenant name" required>
      </div>
      <div class="form-group">
        <input class="form-control" name="auth_url" type="text" placeholder="Keystone URL" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="form-group">
        {% if error %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Title: </strong>{{ error.title }}<br/>
          <strong>Message: </strong>{{ error.message }}<br/>
          <strong>Code: </strong>{{ error.code }}<br/>
        </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% endblock main %}
