<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neutron Map</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
  </head>
  <body role="document">
    <div class="container theme-showcase" role="main">
      <div class="well">
        <h1>Neutron Map</h1>
        <p>This application allows you to visualize various Neutron topologies. Just submit the usual Keystone credentials for a specific tenant to get started.</p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <h3>Authentication</h3>
            <form role="form">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="tenant_name" placeholder="Tenant name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="auth_url" placeholder="Keystone URL" required>
              </div>
              <input type="submit" class="btn btn-sm btn-primary" value="Submit">
            </form>
            <div class="form-group" id="hidden" style="display:none;"></div>
          </div>
          <div class="col-md-9">
            <a class="thumbnail" id="topology">
              <img data-src="holder.js/825x560">
            </a>
          </div>
        </div>
      </div>
    </div>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsrender.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/neutronmap.js') }}"></script>
    {% raw %}
    <script id="exception" type="text/x-jsrender">
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Title:</strong> {{:title}}<br/>
        <strong>Message:</strong> {{:message}}<br/>
        <strong>Code:</strong> {{:code}}<br/>
      </div>
    </script>
    <script id="external" type="text/x-jsrender">
      <h3>Element details</h3>
      <p>
        <strong>Network:</strong><br/>
        id: {{:id}}<br/>
        name: {{:name }}<br/>
        router external: {{:router_external}}<br/>
        {{for subnets}}
          <strong>Subnet:</strong><br/>
          id: {{:id}}<br/>
          name: {{:name}}<br/>
          cidr: {{:cidr}}<br/>
          {{for pools}}
            pool: {{:start}} / {{:end}}<br/>
          {{/for}}
          gateway ip: {{:gateway}}<br/>
          {{for nameservers}}
            dns: {{:#data}}<br/>
          {{/for}}
        {{/for}}
      </p>
    </script>
    <script id="network" type="text/x-jsrender">
      <h3>Element details</h3>
      <p>
        <strong>Network:</strong><br/>
        id: {{:id}}<br/>
        name: {{:name }}<br/>
        router external: {{:router_external}}<br/>
        {{for subnets}}
          <strong>Subnet:</strong><br/>
          id: {{:id}}<br/>
          name: {{:name}}<br/>
          cidr: {{:cidr}}<br/>
          {{for pools}}
            pool: {{:start}} / {{:end}}<br/>
          {{/for}}
          gateway ip: {{:gateway}}<br/>
          {{for nameservers}}
            dns: {{:#data}}<br/>
          {{/for}}
        {{/for}}
      </p>
    </script>
    <script id="router" type="text/x-jsrender">
      <h3>Element details</h3>
      <p>
        <strong>Router:</strong><br/>
        id: {{:id}}<br/>
        name: {{:name}}<br/>
        {{if gateway}}
          <strong>External gateway info:</strong><br/>
          network id: {{:gateway.network_id}}<br/>
          enable snat: {{:gateway.enable_snat}}<br/>
        {{/if}}
        {{for ports}}
          <strong>Interface:</strong><br/>
          name: {{:vif}}<br/>
          network id: {{:network_id}}<br/>
          mac: {{:mac_address}}<br/>
          ips:
          {{for ips ~count=ips.length}}
            {{:#data}}{{if #index < ~count-1}}, {{else #index === ~count-1}}<br/>{{/if}}
          {{/for}}
        {{/for}}
      </p>
    </script>
    <script id="dhcp" type="text/x-jsrender">
      <h3>Element details</h3>
      <p>
        <strong>DHCP device:</strong><br/>
        id: {{:device_id}}<br/>
        <strong>Interface:</strong><br/>
        name: {{:vif}}<br/>
        network id: {{:network_id}}<br/>
        mac: {{:mac_address}}<br/>
        ips:
        {{for ips ~count=ips.length}}
          {{:#data}}{{if #index < ~count-1}}, {{else #index === ~count-1}}<br/>{{/if}}
        {{/for}}
      </p>
    </script>
    <script id="vm" type="text/x-jsrender">
      <h3>Element details</h3>
      <p>
        <strong>Nova instance:</strong><br/>
        id: {{:id}}<br/>
        name: {{:name}}<br/>
        {{for ports}}
          <strong>Interface:</strong><br/>
          name: {{:vif}}<br/>
          network id: {{:network_id}}<br/>
          mac: {{:mac_address}}<br/>
          ips:
          {{for ips ~count=ips.length}}
            {{:#data}}{{if #index < ~count-1}}, {{else #index === ~count-1}}<br/>{{/if}}
          {{/for}}
        {{/for}}
        <strong>Floating ips:</strong><br/>
        {{for floating_ips}}
          {{props}}
            {{for prop ~key=key}}
              {{:#data[0]}} - {{:#data[1]}} ({{:~key}})<br/>
            {{/for}}
          {{/props}}
        {{/for}}
      </p>
    </script>
    {% endraw %}
  </body>
</html>
