body {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #999999;
  stroke-width: 2.5px;
  stroke-opacity: 1.0;
}

.highlighted {
  stroke: #999999;
  stroke-width: 2.5px;
  stroke-opacity: 1.0;
}

.link {
  fill: none;
  stroke: #191919;
  stroke-width: 3px;
  stroke-opacity: 0.2;
}

.external-inner {
  fill: #ff99ff;
  stroke: #663300;
  stroke-width: 2px;
}

.external-outer {
  fill: #ff99ff;
  fill-opacity: 0.2;
}

.network-inner {
  fill: #3366ff;
  stroke: #3333cc;
  stroke-width: 2px;
}

.network-outer {
  fill: #3366ff;
  fill-opacity: 0.2;
}

.router-inner {
  fill: #a329cc;
  stroke: #ff66ff;
  stroke-width: 2px;
}

.router-outer {
  fill: #a329cc;
  fill-opacity: 0.2;
}

.dhcp-inner {
  fill: #ffcc00;
  stroke: #663300;
  stroke-width: 2px;
}

.dhcp-outer {
  fill: #ffcc00;
  fill-opacity: 0.2;
}

.vmon-inner {
  fill: #ff0000;
  stroke: #000000;
  stroke-width: 2px;
}

.vmon-outer {
  fill: #ff0000;
  fill-opacity: 0.2;
}

.vmoff-inner {
  fill: #990000;
  stroke: #000000;
  stroke-width: 2px;
}

.vmoff-outer {
  fill: #990000;
  fill-opacity: 0.2;
}
