body {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.alert {
  margin: 15px 0;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000000;
  stroke-width: 4px;
  stroke-opacity: 1.0;
}

.highlighted {
  stroke: #000000;
  stroke-width: 4px;
  stroke-opacity: 1.0;
}

.external-inner {
  fill: #ff99ff;
  stroke: #663300;
  stroke-width: 2px;
}

.external-outer {
  fill: #ff99ff;
  opacity: 0.2;
}

.network-inner {
  fill: #3366ff;
  stroke: #3333cc;
  stroke-width: 2px;
}

.network-outer {
  fill: #3366ff;
  opacity: 0.2;
}

.router-inner {
  fill: #a329cc;
  stroke: #ff66ff;
  stroke-width: 2px;
}

.router-outer {
  fill: #a329cc;
  opacity: 0.2;
}

.dhcp-inner {
  fill: #ffcc00;
  stroke: #663300;
  stroke-width: 2px;
}

.dhcp-outer {
  fill: #ffcc00;
  opacity: 0.2;
}

.vm-inner {
  fill: #ff0000;
  stroke: #000000;
  stroke-width: 2px;
}

.vm-outer {
  fill: #ff0000;
  opacity: 0.2;
}

.link {
  fill: none;
  stroke: #191919;
  stroke-width: 3.5px;
  stroke-opacity: 0.2;
}
